:root {
  --color-primary: #845e2c;
  --height-header: 100px;
}

html {
  font-size: 16px;

  margin-bottom: 1000px;
}

.box {
  margin-bottom: 100px;
}

.px {
  width: 500px;
  height: 500px;
  background-color: palegoldenrod;
}

.pct-parent {
  width: 500px;
  height: 500px;
  background-color: plum;
}

.pct-child {
  width: 50%;
  height: 50%;
  background-color: palegreen;
}

.em {
  font-size: 2em;
}

.rem {
  font-size: 2rem;
}

.vw {
  /* 20vw: viewport width 20% */
  width: 20vw;
  height: 20vw;
  background-color: coral;
}

.vw-font {
  font-size: 20vw;
}

.vh {
  /* 20vh: viewport height 20% */
  width: 20vh;
  height: 20vh;
  background-color: skyblue;
}

/* body {
    height: 100vh;
} */

.my-div {
  background-color: var(--color-primary);
  width: 200px;
  height: var(--height-header);
}
