body {
    /* 기본 폰트는 보통 body 태그에 작성 */
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
    font-family: 'Jua', sans-serif;
}

div {
    /* 색상 */
    color: royalblue;
    /* background: pink; */
    /* background: linear-gradient(yellow, pink); */
    /* background: linear-gradient(to bottom right, yellow, pink); */
    background: linear-gradient(45deg, yellow, pink);

    /* 폰트 */
    /* [font-size] px 단위 */
    /* 1px: 1/96인치 -> 절대단위 */
    font-size: 50px;

    /* [font-weight] 굵기 */
    /* lighter normal bold bolder */
    /* font-weight: bold; */
    /* 100 ~ 900 */
    font-weight: 700;

    /* [font-family] 글씨체 */
    /* serif sans-serif monospace cursive */
    /* font-family: cursive; */
    /* 여러개 설정시 선언된 순서로 적용함 */
    /* font-family: 'Courier New', Courier, monospace; */
    /* 영어, 한글 글꼴 다르게 - 한글 없는 폰트를 먼저 -> 한글 폰트 */
    /* font-family: Georgia, "Malgen Gothic"; */

    /* [웹 폰트] */
    /* : 모든 사용자가 동일한 폰트로 화면을 볼 수 있음 */
    /* Google Fonts */

    /* [font-style] 글자 모양 */
    /* italic oblique*/ 
    /* italic: 필기체 느낌 */
    /* oblique: 보통 모양의 기울임 */
    /* font-style: oblique; */


    /* 크기 */
    width: 600px;
    /* height: 400px; */


    /* 테두리, 경계선 */
    /* style 지정해야 -> width, color 의미 있음 */
    /* solid dotted dashed inset*/
    /* border-style: solid;
    border-width: 10px;
    border-color: limegreen; */

    /* border 단축 프로퍼티 */
    /* border: width, style, color 한 번에 설정 */
    border: 10px solid limegreen;
    
    /* border-radius: 5px 30px; */
    /* border-radius: 5px 20px 45px 80px; */
    
    /* 한 쪽 모서리만 테두리 생성 */
    /* border-top: 10px solid limegreen; */
    /* border-bottom: 10px solid limegreen; */
    /* border-right: 10px solid limegreen; */
    /* border-left: 10px solid limegreen; */


    /* 박스 모델 */
    /* 요소의 너비와 높이를 계산하는 방식 지정 */
    /* content -> padding -> border -> margin */
    /* box-sizing: content-box; */
    box-sizing: border-box;

    /* margin, padding */
    /* padding: content와 border 사이의 공간 */
    /* margin: border 바깥 공간 */
    /* top right bottom left */
    padding: 20px 50px;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px; */
    margin: 50px 30px;

    /* margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px; */

}

p {
    font-size: 50px;
    font-weight: 700;
    width: 400px;
    border: 1px solid black;


    /* 그림자 */
    /* box-shadow: xoffset, yoffset, blur, color */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .4);

    /* text-shadow */
    text-shadow: 4px 3px 7px blue;
}