/* 
	transition vs. animation
	- transition: 변화될 "스타일"을 지정 
	- hover, onclick 이벤트에 의해 발생

	- animation: 중간 중간 단계를 지정해 "세밀한 스타일 전환" 가능
	- 하나 이상의 @keyframes로 이루어짐
*/

/* 
	animation 프로퍼티

	- animation-name: @keyframes에 지정한 애니메이션 이름
		- 시작: from or 0%
		- 중간: 0 ~ 100% 사이의 값 
		- 끝: to or 100%
	- animation-duration: 애니메이션 한 사이클이 얼마동안 일어날 것인지 (단위: s, ms)  
	- animation-delay: 요소가 그려지고 난 후, 언제 애니메이션을 시작할지 (단위: s, ms)
	- animation-interation-count: 애니메이션 반봇 횟수 (default: 1)
		- 정수로 횟수 지정 or infinite
	- animation-timing-function: 중간중간 어떤 시간으로 상태를 변화시킬지
		- linear, ease (default), ease-in, ease-out, ease-in-out
	- animation-direction: 애니메이션이 끝나고 난 후, 반복될 때 진행할 방향 지정
		- normal, reverse, alternate, alternate-reverse
*/
.box {
	width: 100px;
	height: 100px;
	background-color: cyan;

	position: relative;

	/* animation 연결 */
	animation-name: moveX;
	animation-duration: 2s;
	animation-iteration-count: 5;
	animation-timing-function: ease-in-out;
	animation-delay: 2s;
}

@keyframes moveX {
	0% {
		left: 0px;
	}
	25% {
		left: 200px;
	}
	50% {
		left: 400px;
	}
	75% {
		left: 200px;
	}
	100% {
		left: 0px;
	}
}

.bounce-ball1 {
	position: relative;
	left: 100px;
	top: 0;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #0f0; /* = #00ff00 = rgb(0, 255, 0) */

	/* animation 연결 */
	/* animation-name: bounce1;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-direction: alternate; */
	/* alternate: 홀수 번째 정방향, 짝수번째 역방향(reverse) */

	/* animation 축약형
	  animation: name duration timing-function delay iteration-count direction;
	*/
	animation: bounce1 1s ease-out infinite alternate;

}

@keyframes bounce1 {
	/* 시작 */
	from {
		top: 300px;
	}

	/* 끝 */
	to {
		top: 50px;
	}
}


.bounce-ball2 {
	width: 50px;
  height: 50px;
	border-radius: 50%;
  background: tomato;

	position: fixed;
	/* 브라우저 창 기준으로 BOTTOM 에서 튕겨지도록  */
	animation-name: bounce2;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}

@keyframes bounce2 {
	from,
	to {
		bottom: 0px;
		animation-timing-function: ease-out;
		/* 정상속도 -> 천천히 속도 줄임 */
	}

	50% {
		bottom: 300px;
		animation-timing-function: ease-in;
		/* 천천히 시작 -> 정상속도 */
	}
}