$color-blue500: rgb(0, 0, 166);
$color-blue400: rgb(36, 61, 206);
$color-blue300: rgb(52, 118, 231);
$color-blue200: rgb(47, 146, 233);
$color-blue100: rgb(140, 191, 253);

@mixin rounded() {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@mixin position($topOffset, $leftOffset) {
  top: 100px + $topOffset;
  left: 100px + $leftOffset;
}

@mixin eye($w, $h, $color) {
  width: $w;
  height: $h;
  border-radius: 50%;
  background-color: $color;
  position: relative;
}

.lavar {
  .body {
    @include rounded();
    position: absolute;

    &.body1 {
      @include position(0, 0);
      background-color: $color-blue500;

      .eye {
        &.eye-white {
          @include eye(40px, 40px, white);
          left: 20px;
          top: 20px;
        }
        &.eye-black {
          @include eye(20px, 20px, black);
          top: 10px;
        }
      }
    }
    &.body2 {
      @include position(50px, 60px);
      background-color: $color-blue400;
    }
    &.body3 {
      @include position(90px, 100px);
      background-color: $color-blue300;
    }
    &.body4 {
      @include position(140px, 120px);
      background-color: $color-blue200;
    }
    &.body5 {
      @include position(180px, 180px);
      background-color: $color-blue100;
    }
  }

  .grass {
    position: absolute;
    top: 260px;
    left: 0;
  }
}
