body {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 400px;
  height: 600px;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
  border: 2px dotted black;
}

.file-input,
.text-input {
  margin-bottom: 20px;
  width: 300px;
  height: 30px;
}

.btn {
  width: 80px;
  height: 30px;
}
