<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />

    <!-- jquery cdn (for AJAX)-->
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>

    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
      body {
        background-color: bisque;
      }

      .result {
        font-weight: 700;
        font-size: 24px;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form name="register">
      <label for="name">이름</label>
      <input type="text" name="name" id="name" />
      <br />
      성별
      <input type="radio" name="gender" value="m" id="male" /><label for="male"
        >남자</label
      >
      <input type="radio" name="gender" value="f" id="female" /><label
        for="female"
        >여자</label
      >
      <br />

      <button type="button" onclick="ajaxGet();">ajax get 제출</button>
      <button type="button" onclick="ajaxPost();">ajax post 제출</button>
      <br />
      <button type="button" onclick="axiosGet();">axios get 제출</button>
      <button type="button" onclick="axiosPost();">axios post 제출</button>
      <br />
      <button type="button" onclick="fetchGet();">fetch get 제출</button>
      <button type="button" onclick="fetchPost();">fetch post 제출</button>

      <br />
      <br />
      <button type="button" onclick="seanPost();">seanPost 제출</button>
    </form>
    <div class="result"></div>

    <script>
      const resultBox = document.querySelector('.result');

      // temp
      function seanPost() {
        console.log('####### click seanPost #######');

        const form = document.forms['register'];
        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };

        axios({
          method: 'POST',
          url: '/seanPost',
          data: data,
        }).then(function (response) {
          console.log(response);
          console.log(response.data);
          console.log(response.data.userInfo);
          console.log(response.data.msg);
        });
      }

      function ajaxGet() {
        console.log('####### click ajaxGet #######');

        // 폼 선택하기
        const form = document.forms['register'];

        // 폼 객체 요소 및 요소값 확인하기
        console.dir(form);
        console.dir(form.name); // input:text
        console.dir(form.gender); // input:radio
        console.dir(form.name.value);
        console.dir(form.gender.value);

        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };

        // AJAX 비동기 통신 - GET /ajax 요청 보내기
        $.ajax({
          type: 'GET', // 요청 종류
          url: '/ajax', // 요청할 서버 주소
          data: data, // 보낼 데이터
          success: function (data) {
            // data: app.js의 req.query
            console.log('ajax get: ', data);
            resultBox.textContent = `GET /ajax 요청 완료!! ${data.name}님은 ${data.gender}이시죠?ㅎㅎ`;
            resultBox.style.color = 'blue';
          },
        });
      }

      function ajaxPost() {
        console.log('####### click ajaxPost #######');

        // 폼 선택하기
        const form = document.forms['register'];

        // 폼 요소값 확인하기
        console.dir(form);
        console.dir(form.name);
        console.dir(form.gender);
        console.dir(form.name.value);
        console.dir(form.gender.value);

        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };

        // AJAX 비동기 통신 - POST /ajax 요청 보내기
        $.ajax({
          type: 'POST',
          url: '/ajax',
          data: data,
          success: function (data) {
            // data: app.js의 req.body
            console.log('ajax post: ', data);
            resultBox.textContent = `POST /ajax 요청 완료!! ${data.name}님은 ${data.gender}이시죠?ㅎㅎ`;
            resultBox.style.color = 'red';
          },
        });
      }

      function axiosGet() {
        console.log('####### click axiosGet #######');

        const form = document.forms['register'];
        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };

        // AXIOS 비동기 통신 - GET /axios 요청
        axios({
          method: 'GET',
          url: '/axios',
          params: data, // GET 요청은 "params"에 정보를 실어서 보내야 됨
        }).then(function (response) {
          // axios는 promise를 반환한다!! -> then 메서드 사용
          console.log(response); // 서버의 응답결과
          console.log(response.data); // res.send(req.query)
          console.log(response.data.name);
          console.log(response.data.gender);

          resultBox.textContent = `GET /axios 요청 완료!! ${response.data.name}님은 ${response.data.gender}이시죠?ㅎㅎ`;
          resultBox.style.color = 'green';
        });
      }

      function axiosPost() {
        console.log('####### click axiosPost #######');

        const form = document.forms['register'];
        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };

        axios({
          method: 'POST',
          url: '/axios',
          data: data, // POST 요청은 "data"에 정보를 실어서 보내야 됨
        }).then(function (response) {
          console.log(response);
          console.log(response.data);

          resultBox.textContent = `POST /axios 요청 완료!! ${response.data.name}님은 ${response.data.gender}이시죠?ㅎㅎ`;
          resultBox.style.color = 'gold';
        });
      }

      function fetchGet() {
        console.log('####### click fetchGet #######');

        const form = document.forms['register'];

        // fetch(url, option)
        fetch(`/fetch?name=${form.name.value}&gender=${form.gender.value}`, {
          method: 'GET',
        })
          .then(function (response) {
            console.log(response);
            return response.json(); // 응답을 json -> javascript 객체로 변환해 사용 가능
          })
          .then(function (data) {
            console.log(data);
            resultBox.textContent = `GET /fetch 요청 완료!! ${data.name}님은 ${data.gender}이시죠?ㅎㅎ`;
            resultBox.style.color = 'limegreen';
          });
      }

      function fetchPost() {
        console.log('####### click fetchPost #######');

        const form = document.forms['register'];
        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };

        // fetch(url, option)
        fetch('/fetch', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data), // javascript 객체 -> json (프론트와 백이 json 형식의 데이터로 통신하도록!!)
        })
          .then(function (response) {
            console.log(response);
            return response.json(); // 응답을 json -> javascript 객체로 변환해 사용 가능
          })
          .then(function (data) {
            console.log(data);
            resultBox.textContent = `POST /fetch 요청 완료!! ${data.name}님은 ${data.gender}이시죠?ㅎㅎ`;
            resultBox.style.color = 'hotpink';
          });
      }
    </script>
  </body>
</html>
